.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: Arial, sans-serif;
}

.pagination a {
  color: #007bff;
  padding: 8px 16px;
  margin: 0 5px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination a.prev,
.pagination a.next {
  font-weight: bold;
}



h1{
    color: violet;
}